.messageBox {
    background: #F3F3F3;
    border-radius: 15px;
    padding: 5px 15px;
    color: white;
    display: inline-block;
    max-width: 80%;
  }
  
  .messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
  }
  
  .messageText img {
    vertical-align: middle;
  }
  
  .messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
  }
  
  .sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
    padding: 10px;
  }

  .sentTime {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #ada7a7;
    letter-spacing: 0.3px;
    padding: 10px;
  }

  .sentByUser .messageContainer {
    justify-content: flex-end;
  }

  .sentByUser .sentText {
    padding-right: 10px;
  }

  .sentByUser .messageBox {
    background-color: darkgoldenrod;
  }

  .sentByUser .messageText {
    color: white;
  }
  
  .sentByOther {
    justify-content: flex-start;
  }

  .sentByOther .sentText {
    padding-left: 10px;
  }

  .sentByOther .messageBox {
    background-color: wheat;
  }

  .sentByOther .messageText {
    color: #1a1a1a;
  }