h1 {
color: goldenrod;
}

.textContainer {
    display: flex;
    margin-right: 100px;
    color: white;
}

.headerText {
    margin-bottom: 100px;
}

.roomContainer {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    justify-content: flex-end;
}

.activeItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.activeContainer img {
    padding-left: 10px;
}

.textContainer h1 {
    margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
    .textContainer {
    display: none;
    }
}

.join-button {
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background-color: coral;
        padding: 15px;
        margin-left: 25px;
        margin-right: 25px;
        border-radius: 10px;
        display: inline-block;
        border: none;
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        transition-duration: 0.5s;
    }
.button:hover {
    background-color: darkgoldenrod;
}